body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.logo-design {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.logo-studio-word {
  color: #2e2f42;
}

/* navbar-studio-word */

.nav-studio {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.nav-studio:hover {
  color: #404bbf;
}

.nav-studio:focus {
  color: #404bbf;
}

/* adress-chapter */

.address-chatper {
  font-style: normal;
  display: flex;
  margin-left: auto;
}

.address-mail {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-mail:hover {
  color: #404bbf;
}

.address-mail:focus {
  color: #404bbf;
}

/* main-head-chapter */
/* section 1 */

.main-head {
  background-color: #2e2f42;
  padding: 188px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-head-word {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* button */

.button-css {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.button-css:hover {
  background-color: #404bbf;
}

.button-css:focus {
  background-color: #404bbf;
}

/* section 1 end */

/* section 2  */

.list-titles {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.list-bottom-explanation {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* section 2 end */

/* section 3  */

.four-persons {
  background-color: #f4f4fd;
}

.my-team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.persond-id {
  background-color: #ffffff;
}

.person-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.responsibility-work {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* section2 end */

/* section 4  */

.services-chapter {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.services-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.services-mini-name {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* section 4 end */

.bottom-chapter {
  background-color: #2e2f42;
}

.bottom-logo {
  color: #f4f4fd;
}

.bottom-explanation {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

img {
  display: block;
}

.header-chapter {
  border-bottom: 1px solid #e7e9fc;
  height: 72px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  display: flex;
}

.header-div {
  display: flex;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.navigation-main {
  display: flex;
  align-items: center;
}

.logo-design {
  margin-right: 76px;
}
.nav-list {
  display: flex;
  gap: 40px;
  list-style-type: none;
}

.nav-studio-list:nth-of-type(1) .nav-studio::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
}

.nav-studio-list:nth-of-type(1) .nav-studio {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-studio {
  padding: 24px 0;
}

.address-list {
  display: flex;
  gap: 40px;
  list-style-type: none;
}

.main-head {
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1440px;
}

.main-head-word {
  max-width: 496px;
}

.button-css {
  display: block;
  margin: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-description-sections {
  padding: 120px 0;
}

.visually-hidden {
  visibility: hidden;
}

.list-bottom-ul {
  display: flex;
  list-style-type: none;
  gap: 24px;
}

.list-type {
  width: calc((100% - 72px) / 4);
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.main-description-sections .container ul li h3 {
  margin-bottom: 8px;
}

.four-persons {
  padding: 120px 0;
}

.my-team {
  margin-bottom: 72px;
}

.four-persons-list {
  display: flex;
  gap: 24px;
  list-style-type: none;
}

.persond-id {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.persone-name-style {
  padding: 32px 0;
}

.person-name {
  text-align: center;
  margin-bottom: 8px;
}

.responsibility-work {
  text-align: center;
}

.persons-social-media {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.media-icons {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-icons:hover {
  background-color: #404bbf;
}

.media-icons:focus {
  background-color: #404bbf;
}

.socialmedia-icons {
  width: 40px;
  height: 40px;
}

.icons-style {
  fill: #f4f4fd;
}
.our-portfolios {
  padding: 120px 0;
}

.services-chapter {
  margin-bottom: 72px;
}

.bottom-images-container-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.one-box {
  flex-basis: calc((100% - 3 * 24px) / 4);
  text-align: center;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.one-box:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.one-box:hover .bottom-images-p {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.bottom-images-p {
  position: absolute;
  text-align: start;
  top: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bottom-images-div {
  position: relative;
  overflow: hidden;
}

.container-list-style {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.bottom-chapter {
  padding: 100px 0;
  max-width: 100%;
}

.bottom-chapter .logo-design a {
  display: inline-block;
  margin-bottom: 16px;
}

.bottom-explanation {
  max-width: 264px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo-p {
  margin-right: 120px;
}

.footer-socials-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-socials-list {
  display: flex;
  gap: 16px;
  padding: 0;
}

.footer-socials-list-item {
  width: 40px;
  height: 40px;
  list-style-type: none;
}

.footer-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-link:hover {
  background-color: #31d0aa;
}

.footer-socials-link:focus {
  background-color: #31d0aa;
}

.footer-socials-icon {
  fill: #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-one-p {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.bottom-form {
  display: flex;
  gap: 24px;
}

.bottom-form-label-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.form-chapter {
  margin: 80px;
}

.botton-submit {
  line-height: 1.5;
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.bottom-submit-icon-container {
  margin-left: 16px;
}

/* modal-chapter */

.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.main-form-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-form-button:hover,
.main-form-button:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-form-button:hover svg,
.main-form-button:focus svg {
  fill: #ffffff;
}

.modal-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
  margin-top: 112px;
}

.modal-first-container {
  margin-bottom: 8px;
}
.form-name-chapter {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.form-name-input {
  position: relative;
}

.form-name-input-container {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-name-input-container:focus {
  border-color: #4d5ae5;
}

.form-person-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-name-input-container:focus + .form-person-icon {
  fill: #4d5ae5;
}

.modal-comment-container {
  margin-bottom: 16px;
}

.form-comment-input {
  box-sizing: border-box;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment-input:focus {
  border-color: #4d5ae5;
}

.modal-privacy-container {
  margin-bottom: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.privacy-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.privacy-span-form {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;

}

.privacy-link {
  color: #4d5ae5;
}

.form-submit-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.form-submit-button:hover {
  background-color: #404bbf;
}

.checkbox-icon {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden:checked + .privacy-label .privacy-span-form {
  background-color: #404bbf;
  border: none;
}

.visually-hidden:checked + .privacy-label .privacy-span-form .checkbox-icon {
  fill: #F4F4FD;
}